<ion-header color="primary">
    <ion-toolbar color="primary">
        <ion-title>
            Pago Movil Venezuela
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" padding>
    <app-page01></app-page01>
</ion-content>
<ion-footer mode="ios" no-border transparent>
    <ion-toolbar color="tertiary" no-border transparent>
        <ion-title size="small" color="dark">
            <small>©PleSystemSolutions - Pedro López - +58 412-6107011 - Pedrolopeze11@gmail.com </small>
        </ion-title>
    </ion-toolbar>
</ion-footer>